.grid {
    display: grid;
    grid-template-columns: 0.15fr 0.7fr 0.15fr;
    grid-template-rows: 95fr 05fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "container section-container socials"
      "help help help";

    width: 100%;
    height: 100%;

    box-sizing: border-box;
  }
  
  html, body{
      width: 100%;
      height: 100%;

      margin: 0;
  }


  
  .section-container {
    grid-area: section-container;
  }
  
  .container {
    grid-area: container;
  }
  
  .socials {
    grid-area: socials;
  }

  .help {
    grid-area: help;
    display: flex;
    justify-content: center;
    background-color: black;
    color:white;
  }